<h1>The <%= @completed_test.test.title %> test finished.</h1>

<p>
  Correct answers: <%= @completed_test.correct_questions %> of <%= @completed_test.questions_count %>
</p>

<p>
  <strong>
    <%= result_message(@completed_test) %>
  </strong>
</p>

<%= link_to t('.back'), tests_path %>

<% if @completed_test.test_passed? %>
  <div class="alert alert-success" role="alert">
    <h3 class="alert-heading"><%= t('.success', title: @completed_test.test.title) %></h3>
    <p class="mb-0"><%= t('.percent') %> <%= @completed_test.test_result.to_i %>%</p>
  </div>
<% else %>
  <div class="alert alert-danger" role="alert">
    <h3 class="alert-heading"><%= t('.failure', title: @completed_test.test.title) %></h3>
    <p class='mb-0'><%= t('.percent') %> <%= @completed_test.test_result.to_i %>%</p>
  </div>
<% end %>
