<h1>Passing the <%= @completed_test.test.title %> Test</h1>

<h2>Question #<%= @completed_test.current_question_number %> of <%= @completed_test.questions_count %></h2>

<div class="progress">
  <%= content_tag :div, '',
                  class: 'progress progress-bar progress-bar-striped progress-bar-animated bg-info',
                  id: 'test-progress',
                  data: { question_number: @completed_test.test.questions.index(@completed_test.current_question) + 1,
                          questions_count: @completed_test.questions_count } %>
</div>

<p>
  <b><%= @completed_test.current_question.body %></b>
</p>

<%= form_with url: completed_test_path(@completed_test), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @completed_test.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
    <% end %>

  <p>
    <%= link_to 'Gist Question', completed_test_gists_path(@completed_test), method: :post %>
  </p>
  <p>
    <%= form.submit t('.next') %>
  </p>
<% end %>

<%= link_to t('.back'), tests_path %>