<h1>Tricky Tests</h1>

<p>
  <%= link_to t('.new_test'), new_admin_test_path, class: 'btn btn-outline-secondary btn-lg' %>
</p>

<p>
  <%= link_to t('.new_badge'), admin_badges_path, class: 'btn btn-outline-secondary btn-lg' %>
</p>

<p>
  <%= link_to "Gists", admin_gists_path, class: 'btn btn-outline-secondary btn-lg' %>
</p>

<%= render 'shared/errors', resource: @test %>

<table class="table">
  <thead>
    <tr>
      <th class="sort-by-title pointer">
        Title
        <%= octicon 'arrow-up', class: 'text-success' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th>Level:</th>
      <th>Categories:</th>
      <th>Questions count:</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>