<tr>
  <td class="align-middle"><%= test.title %></td>
  <td class="align-middle"><%= test.level %></td>
  <td class="align-middle"><%= test.category.title %></td>
  <td class="align-middle"><%= test.questions.count %></td>
  <td class="align-middle"><%= button_to 'Start', start_test_path(test) %></td>
  <td class="align-middle">
    <% if current_user.completed_test(test) %>
      <% if current_user.completed_test(test).test_score%>
        <span class="badge badge-pill badge-success"><%= octicon 'dot' %></span>
      <% else %>
        <span class="badge badge-pill badge-danger"><%= octicon 'dot' %></span>
      <% end %>
    <% else %>
      <span class="badge badge-pill badge-dark"><%= octicon 'dot' %></span>
    <% end %>
</tr>
